a:link {text-decoration: underline; color: #33CC00}
a:visited {text-decoration: underline; color: #339900}
a:hover {text-decoration: none; color: #00FF00}

.colorfont {font-family: verdana, tahoma; font-size: 9pt; color: #33CC00; font-style: normal;}
.title {font-family: verdana, tahoma; font-size: 9pt; color: #33CC00; font-style: normal; font-weight: bold;}
.center {text-align: center;}
.thead {font-weight: bold; text-decoration: underline;}

:root {
  --uscm-color-green: #33cc00;
  --uscm-color-background: #111;
  --uscm-color-text: #f9f9f9;
}

:root {
  background-color: #000;
  color: var(--uscm-color-text);
  font-family: Verdana, sans-serif;
  font-size: calc(12rem / 16);
  text-underline-offset: 2px;
}

.wrapper {
  background-color: var(--uscm-color-background);
  margin: 0 auto;
  max-width: 667px;
  padding: 20px;
}

.header {
  margin-bottom: 40px;
}

.nav > ul {
  display: flex;
  flex-wrap: wrap;
  font-size: 16px;
  gap: 10px;
  justify-content: center;
}

.main {

}

.footer {
  margin-top: 40px;
}

tr:nth-child(even) {
  background: #222;
}

.line {
  border-top: 1px solid;
  border-image: linear-gradient(to right, transparent, var(--uscm-color-green), transparent) 1;
}

.table {
  min-width: 100%;
}

.table th,
.table caption {
  color: var(--uscm-color-green);
  font-weight: normal;
}

.table th,
.table td {
  padding: 2px 6px;
  text-align: left;
}

.no-wrap {
  white-space: nowrap;
}
