@import url("https://unpkg.com/sanitize.css");

.colorfont {color: #33CC00; font-style: normal;}
.title {color: #33CC00; font-style: normal; font-weight: bold;}
.thead {font-weight: bold; text-decoration: underline;}

:root {
  --uscm-color-green: #33cc00;
  --uscm-color-green-hover: #00ff00;
  --uscm-color-background: #111;
  --uscm-color-text: #f9f9f9;
  --bf5-theme-color: var(--uscm-color-green);
  --fr1-theme-color: dodgerblue;
  --t10-theme-color: fuchsia;
  --md12-theme-color: yellow;
  --ll11-theme-color: red;
  --du4-theme-color: orange;
}

:root {
  background-color: #000;
  color: var(--uscm-color-text);
  font-family: Verdana, sans-serif;
  font-size: 1rem;
  font-style: normal;
  text-underline-offset: 2px;
}

.heading {
  color: var(--uscm-color-green);
}

a {
  color: var(--uscm-color-green);
  text-decoration: underline;
  transition: 2s all;
}
a:focus,
a:hover {
  color: var(--uscm-color-green-hover);
  text-decoration: none;
}

.wrapper {
  background-color: var(--uscm-color-background);
  font-size: calc(12rem / 16);
  margin: 0 auto;
  max-width: 100%;
  padding: 20px;
}

@media (min-width: 799px) {
  .wrapper {
    max-width: 800px;
  }
}

.header {
  margin-bottom: 40px;
}

.logo {
  align-items: center;
  color: var(--uscm-color-green);
  display: flex;
  font-size: calc(16rem / 16);
  font-style: italic;
}

.nav > ul {
  display: flex;
  flex-wrap: wrap;
  font-size: calc(16rem / 16);
  gap: 10px;
  justify-content: center;
}

.main {

}

.footer {
  margin-top: 40px;
}

.line {
  border-top: 1px solid;
  border-image: linear-gradient(to right, transparent, var(--uscm-color-green), transparent) 1;
}

.table {
  min-width: 100%;
}

.table th,
.table caption {
  color: var(--uscm-color-green);
  font-weight: normal;
}

.table th,
.table td {
  padding: 2px 6px;
  text-align: left;
}

.table tbody tr:nth-child(odd) {
  background-color: #222;
}

.no-wrap {
  white-space: nowrap;
}

.center {
  text-align: center;
}

.p-10 {
  padding: 10px;
}

.mt-40 {
  margin-top: 40px;
}

.form {
  display: grid;
}

.form > * {
  margin-bottom: 10px;
}

.form input,
.form select,
.form textarea {
  width: 100%;
}

.button {
  background-color: var(--uscm-color-green);
  border: none;
  color: var(--uscm-color-background);
  cursor: pointer;
  padding: 4px 10px;
  transition: 2s all;
}

.button:focus,
.button:hover {
  background-color: var(--uscm-color-green-hover);
}

.news {
  margin-bottom: 20px;
}

.news .heading {
  display: inline-flex;
  font-size: calc(12rem / 16);
}

.tag {
  background-color: var(--uscm-color-text);
  border-radius: 2px;
  color: var(--uscm-color-background);
  font-size: calc(12rem / 16);
  font-weight: normal;
  padding: 2px 4px;
}
.tag-bf5 {
  background-color: var(--uscm-color-green-hover);
}
.tag-fr1 {
  background-color: var(--fr1-theme-color);
}
.tag-t10 {
  background-color: var(--t10-theme-color);
}
.tag-md12 {
  background-color: var(--md12-theme-color);
}
.tag-ll11 {
  background-color: var(--ll11-theme-color);
}
.tag-du4 {
  background-color: var(--du4-theme-color);
}

.list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.list > li {
  padding: 0 0 10px;
}

.list-description {
  display: grid;
  grid-template-columns: auto 1fr;
}

.list-description dd {
  margin: 0;
  padding-left: 40px;
}

.list-description .odd {
  background-color: #222;
}

.details > summary {
  cursor: pointer;
}

.span {
  font-size: calc(12rem / 16);
  font-style: normal;
  font-weight: normal;
}
