@import url("https://unpkg.com/sanitize.css");

.colorfont {color: #33CC00; font-style: normal;}
.title {color: #33CC00; font-style: normal; font-weight: bold;}
.center {text-align: center;}
.thead {font-weight: bold; text-decoration: underline;}

:root {
  --uscm-color-green: #33cc00;
  --uscm-color-green-hover: #00ff00;
  --uscm-color-background: #111;
  --uscm-color-text: #f9f9f9;
  --bf5-theme-color: var(--uscm-color-green);
  --fr1-theme-color: rebeccapurple;
  --t10-theme-color: rebeccapurple;
  --md12-theme-color: rebeccapurple;
  --ll11-theme-color: rebeccapurple;
  --du4-theme-color: rebeccapurple;
}

:root {
  background-color: #000;
  color: var(--uscm-color-text);
  font-family: Verdana, sans-serif;
  font-size: 16px;
  text-underline-offset: 2px;
}

.heading {
  color: var(--uscm-color-green);
}

a {
  color: var(--uscm-color-green);
  text-decoration: underline;
  transition: 2s all;
}
a:focus,
a:hover {
  color: var(--uscm-color-green-hover);
  text-decoration: none;
}

.wrapper {
  background-color: var(--uscm-color-background);
  font-size: calc(12rem / 16);
  margin: 0 auto;
  max-width: 667px;
  padding: 20px;
}

.header {
  margin-bottom: 40px;
}

.nav > ul {
  display: flex;
  flex-wrap: wrap;
  font-size: calc(16rem / 16);
  gap: 10px;
  justify-content: center;
}

.main {

}

.footer {
  margin-top: 40px;
}

tr:nth-child(even) {
  background: #222;
}

.line {
  border-top: 1px solid;
  border-image: linear-gradient(to right, transparent, var(--uscm-color-green), transparent) 1;
}

.table {
  min-width: 100%;
}

.table th,
.table caption {
  color: var(--uscm-color-green);
  font-weight: normal;
}

.table th,
.table td {
  padding: 2px 6px;
  text-align: left;
}

.no-wrap {
  white-space: nowrap;
}

.form {
  display: grid;
}

.form > * {
  margin-bottom: 10px;
}

.form input,
.form select,
.form textarea {
  width: 100%;
}

.button {
  background-color: var(--uscm-color-green);
  border: none;
  color: var(--uscm-color-background);
  cursor: pointer;
  padding: 4px 10px;
  transition: 2s all;
}

.button:focus,
.button:hover {
  background-color: var(--uscm-color-green-hover);
}
